class env:

	def __init__(self):
		self.username = 'reddit username'
		self.password = 'reddit password'
		self.googleShortAPIKey = 'google url shortner api key'
		self.ggKey = 'gosuGamers API access token'
		self.redditClientID = ''
		self.redditSecretID = ''
		self.redditRedirectURI = ''
		self.redditAuthCode = ''
		self.redditRefreshToken = ''
		self.sending_email = 'example@gmail.com'
		self.email_pass = ''
		self.revieving_email = 'example@anyaddress.xxx'
		self.twitch_client_id = ''
		self.slackAPIToken = ''